/* #root {
  
}

div {
    border: solid white 0.5px;
} */

.flex {
    display: flex;
}

.top-padding {
    padding: 10px 20px 10px 20px;
}

.top-bar {
    height: 100px;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.notation {
    width: 20%;
}

.notation>h2 {
    font-family: "Noto Sans Math", sans-serif;
    font-size: 65px;
}

.formula {
    font-family: "Noto Sans Math", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20%;
}

.slots {
    width: 80%;
}

.sub {
    vertical-align: sub;
    font-size: 45px;
}

div>h2 {
    margin: auto;
}

/* Formula */

table {
    border-collapse: collapse;
  }
  
  tr:first-child {
    border-bottom: 1pt solid white;
  }

  td {
    font-size: 30px;
    text-align: center;
    vertical-align: center;
  }

  /* Slots */

  .slots {
    font-size: 65px;
  }

  /* Form */
  form {
    display: inline;
  }

  input {
    margin-left: 30px;
    background-color: #4b4963;
    border: solid 1px #12111e;
    color: white;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
  }