/* Debugging */
.border {
    border: solid white 2px;
}

/* Debugging */

.small {
    font-size: 10px;
}

.flex {
    display: flex;
}

.top-padding {
    padding: 10px 20px 10px 20px;
}

.top-bar {
    height: 100px;
}

div.bottom-padding {
    padding: 50px;
    
}

/* Display Flex */
.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.notation {
    width: 20%;
}

.notation>h2 {
    font-family: "Noto Sans Math", sans-serif;
    font-size: 65px;
}

.formula {
    font-family: "Noto Sans Math", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 20%;
}

.slots {
    width: 80%;
}

.sub {
    vertical-align: sub;
    font-size: 45px;
}

div>h2 {
    margin: auto;
}

/* Formula */

table {
    border-collapse: collapse;
}
  
tr:first-child {
    border-bottom: 1pt solid white;
}

td {
    font-size: 30px;
    text-align: center;
    vertical-align: center;
}

/* Slots */

tr.slot-letter:first-child {
    border-bottom: 3pt solid white;
}

.slots {
    font-size: 65px;
}

td.slot-letter {
    font-size: 65px;
    width: 100%;
}

div.slot-letter {
    width: 10%
}

table.slot-table {
    width: 100%;
}

/* Form */
    form {
    display: inline;
}

input {
    margin-left: 30px;
    background-color: #4b4963;
    border: solid 1px #12111e;
    color: white;
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
    padding-left: 10px;
}