:root {
    /* Variables */
    --text-primary-light: #292838;
    --text-primary-dark: white;

    --text-secondary-light: rgb(70, 70, 70);
    --text-secondary-dark: rgb(160, 160, 160);

    --bg-primary-light: white;
    --bg-primary-dark: #292838;

    --bg-secondary-light: rgb(212, 212, 212);
    --bg-secondary-dark: #4b4963;

    --bg-border-light: white;
    --bg-border-dark: black;
  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--light-text);
  
    background-color: var(--dark-bg);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .dark-theme {
    --text-primary: var(--text-primary-dark);
    --bg-primary: var(--bg-primary-dark);
    --bg-secondary: var(--bg-secondary-dark);
    --bg-border: var(var(--bg-border-dark))
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
  
  .light-theme {
    --text-primary: var(--text-primary-light);
    --bg-primary: var(--bg-primary-light);
    --bg-secondary: var(--bg-secondary-light);
    --bg-border: var(var(--bg-border-light))
    background-color: var(--bg-primary);
    color: var(--text-primary);
  }
  
  /* @media (prefers-color-scheme: dark) {
    :root {
      color: white;
      background-color: var(--dark-bg);
    }
  } */
  

/* HEADER */
h1 {
    font-size: 3vw;
    margin-right: 30px;
    font-weight: 200;
}

.page-div {
    max-width: 1200px;
    margin: auto;
}

img {
    height: auto;
    width: 3vw;
}

.beta {
    margin-left: 0.3vw;
    font-size: 1vw;
}

/* Form */
form {
    display: inline;
}

input {
    background-color: var(--bg-secondary);
    border: solid 1px ;
    color: var(--text-primary);
    height: 3.5vw;
    font-size: 2.5vw;
    border-radius: 0.5vw;
    padding-left: 10px;
    width: 20vw;
}

.small {
    font-size: 10px;
}

.flex {
    display: flex;
}

.top-padding {
    padding: 10px 20px 10px 20px;
}

.top-bar {
    height: 100px;
}

div.bottom-padding {
    padding: 50px;
    
}

/* Display Grid */
.grid {
    display: grid;
    grid-template-columns:
      repeat(3, 1fr);
}

/* Display Flex */
.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.notation {
    width: 20%;
}

.notation>h2 {
    font-family: "Noto Sans Math", sans-serif;
    font-size: 5vw;
}

.formula {
    font-family: "Noto Sans Math", sans-serif;
    font-style: normal;
    width: 20%;
}

.slots {
    width: 80%;
}

.sub {
    vertical-align: sub;
    font-size: 3vw;
}

/* Formula */

table {
    border-collapse: collapse;
}
  
tr:first-child {
    border-bottom: 1pt solid white;
}

td {
    font-size: 2.25vw;
    text-align: center;
    vertical-align: center;
}

/* Slots */

tr.slot-letter:first-child {
    border-bottom: 0.4vw solid var(--text-primary);
}

.slots {
    font-size: 3vw;
}

td.slot-letter {
    font-size: 4.5vw;
    width: 100%;
}

div.slot-letter {
    width: 10%
}

table.slot-table {
    width: 100%;
}

/* Permutation */
.permutation {
    font-size: 3vw;
    padding: 20px;
    text-align: center;
    flex-wrap: nowrap;
}


/* Permutation Unit */
.permutation-unit {
    
}

/* Night Mode Button*/
.night-mode-button {
    margin-left: auto;
}

/* Desktop */
@media screen and (min-width: 1200px) {
    h1 {
       font-size: 36px;
    }
    input {
        font-size: 30px;
        width: 240px;
        height: 45px;
    }
    .notation>h2 {
        font-size: 60px;
    }
    .sub {
        vertical-align: sub;
        font-size: 38px;
    }
    td {
        font-size: 28px;
    }
}

/* Mobile */
/* @media screen and (max-width: 400px) {
    
}
   */